@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .logo__header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .navigation__link {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .dark-fon {
    padding-top: 118px;
    padding-bottom: 198px;
    background-color: var(--dark-fon);
  }
}

@media screen and (max-width: 767px) {
  .overlay {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/header-mobile.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/mobile/header-mobile@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .key-title {
    max-width: 100%;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-right: auto;
    margin-left: auto;
    color: var(--text-white);
  }
}

@media screen and (max-width: 767px) {
  .button {
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .excellence {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .excellence__list {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .excellence__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }
}

@media screen and (max-width: 767px) {
  .excellence__headlines {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .excellence__headlines {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .excellence__text {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .excellence__text:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .excellence__description {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .section-two {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .team {
    padding-bottom: 0;
    padding-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .team__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .team__headline {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team__block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team__block:last-child {
    margin-bottom: 0;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .clients-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .section-svg {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .flex-footer-two {
    margin: 0;
    margin-top: 60px;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .clients-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
  }
}

@media screen and (max-width: 767px) {
  .flex-footer {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .form-subscribe {
    margin: 0;
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .form-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .button-email {
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .input-email {
    max-width: 450px;
    height: 50px;
    margin-right: 0;
  }
}

// модалка

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 94px 15px 93px 15px;
    overflow: scroll;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (max-width: 767px) {
  .modal-input {
    width: 370px;
  }
}

@media screen and (max-width: 767px) {
  .label-chekbox {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 0.85;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

@media screen and (max-width: 767px) {
  .mobile-burger {
    border: none;
    background-color: transparent;
    padding: 0;
  }
}

.mobile-menu {
  position: fixed;
  max-width: 100%;
  height: 100%;
  z-index: 100;
  background-color: white;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__container {
    position: relative;
  }

  &__studio,
  &__portfolio,
  &__contacts {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  &__studio {
    margin-bottom: 35px;
  }
  &__portfolio {
    margin-bottom: 32px;
  }
  &__contacts {
    margin-bottom: 302px;
  }

  &__color-link {
    color: var(--text-darkgray);
  }

  &__tel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  &__mail {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #757575;
  }

  &__margin-phone {
    margin-bottom: 32px;
  }

  &__margin-mail {
    margin-bottom: 64px;
  }

  &__social-network {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 0.81;
    letter-spacing: 0.02em;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__social-network:last-child {
    border: none;
  }

  &__social-color {
    color: var(--logo-one);
    padding-right: 10px;
    padding-left: 10px;
  }

  &__insta {
    padding-left: 0;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__color-link.current {
  color: #2196f3;
}

.mobile-social-block {
  display: flex;
}

.mobile-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
}
